<h1>ID del carrito: {{cartId}}</h1>

<h2>Productos en el carrito</h2>

{{#each products}}
  <p>Titulo: {{getProperty this "title"}}</p>
  <p>Cantidad: {{getProperty this "quantity"}}</p>
  <p>ID: {{getProperty this "_id"}}</p>
{{/each}}