<div class="container mt-5">
  <div class="card border-primary">
    <div class="card-body">
      <h1 class="card-title">Checkout</h1>
      <p class="card-text">¡Gracias por tu compra
        <span>{{client}}</span>! El número de orden es:
        <span>{{numTicket}}</span></p>
      <p class="card-text">Te enviaremos un e-mail a
        <span>{{email}}</span>
        con toda la información de tu orden</p>
      <div class="btn-group" role="group">
        <a class="btn btn-primary" href="/api/products">Tienda</a>
        <a class="btn btn-secondary" href="/api/sessions/current">Mi Perfil</a>
      </div>
    </div>
  </div>
</div>