<h1>Generate New Reset Email</h1>
<form action="/api/users/requestPasswordReset" method="POST">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required />
  <button type="submit">Send Restore Email</button>
</form>

{{#if error}}
  <p>{{error}}</p>
{{/if}}